@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.App {
    padding: 30px; /* Add padding to the main container */
    margin-left: 20px;
    margin-right: 20px;
}

form {
    margin-bottom: 20px; /* Add margin to the form */
}

.App h1 {
    font-size: 40px; /* Adjust the font size as needed */
}
