.bottom-section {
    display: flex;
    margin: 15px;
}

.style-fit-buttons-container {
    display: flex;
    justify-content: space-between;
}

.random {
    flex: 10%;
}

.left {
    flex: 55%;
}

.right {
    flex: 45%;
    padding: 30px;
}

.outfit {
    width: 100%;
    border-radius: 20px;
    margin-top: 79px;
    height: 96.2%;
    object-fit: cover;
}

.discard-save-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}