.color-section {
    display: flex;
    justify-content: space-between;
    margin-left: 35px; 
    margin-right: 35px;
    margin-top: 20px;
}

.color-title {
    margin-left: 35px;
    margin-top: 30px;
}