/* style.css */
.style-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.style-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center its children vertically */
  align-items: center; /* Center its children horizontally */
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
  padding: 10px; /* Adjust padding as needed */
  width: 102px; /* Adjust width as needed */
  height: 129px;
}

.style-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Different styles for each category */
.casual {
  /* Add specific styles for casual */
}

.formal {
  /* Add specific styles for formal */
}

.athletics {
  /* Add specific styles for athletics */
}
